name: "\U0001F680 Quality & Security Check"

# Le robot se lance à chaque "push" sur ton GitHub
on: [push, pull_request]

jobs:
  lint-and-validate:
    runs-on: ubuntu-latest
    steps:
      - name: "\U0001F4E5 Récupérer le code"
        uses: actions/checkout@v4

      - name: "\U0001F40D Configurer Python"
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: "\U0001F50D Vérifier la qualité Python (Flake8)"
        run: |
          pip install flake8
          # Vérifie les erreurs de syntaxe dans ta Lambda
          flake8 lambda/cleanup/handler.py --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: "\U0001F3D7\uFE0F Configurer Terraform"
        uses: hashicorp/setup-terraform@v3

      - name: "\U0001F4D0 Vérifier le formatage Terraform"
        run: |
          terraform fmt -recursive -check -diff terraform/

      - name: "\U0001F916 Valider Terraform"
        run: |
          cd terraform/environments/dev
          terraform init -backend=false
          terraform validate
